{% extends 'recipes/pages/base.html' %}
{% block title %} Register {% endblock %}
{% block body %}
    <div class="main-content center container">
        <h2>Register</h2>
    </div>
    <div class="main-content container">
        <div class="main-content center container messages-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form action="{% url 'authors:create' %}" method="POST">
            {% csrf_token %}
            <div class="form-content form-content-grid">
                {% for fild in form %}
                    <div class="form-group">
                        <label for="{{ fild.id_for_label }}">{{ fild.label }}</label>
                        {{ fild }}
                        {% if fild.help_text %}
                            <p class="help-text">{{ fild.help_text }}</p>
                        {% endif %}
                        {{ fild.errors }}
                    </div>
                {% endfor %}
            </div>
            {% if form.errors %}
                <div class="form-content form-content-grid">
                    <div class="form-group">
                        <div class="message message-error">
                            There are errors in the form, please fix them and send again.
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
